<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New photo</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header"><a href="./index.html">Go to gallery</a></div>
      <form id="newPostForm">
        <input type="text" placeholder="Author" name="author" />
        <input type="text" placeholder="Image link" name="imageLink" />
        <img alt="image preview" name="imgPreview" />
        <button type="button" name="loadPreview">Load</button>
        <input type="text" placeholder="Description" name="description" />
        <button type="submit">Publish</button>
      </form>
    </div>
  </body>
</html>
