<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
  </head>
  <body>
    <div class="header">
      <div class="header__content">
        <a href="./form.html"
          ><svg viewBox="0 0 100 100">
            <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
            <line
              x1="50"
              y1="32.5"
              x2="50"
              y2="67.5"
              stroke-width="5"
            ></line></svg
          >Add post</a
        >
      </div>
    </div>
    <div class="wrapper">
      <div class="gallery" id="gallery"></div>
    </div>
  </body>
</html>
