@import "./mixins.scss";

$formInputBorderColor: #aa6f51;
$filledBtnBackgroundColor: #f85d4b;
$filledBtnBackgroundColorOnHover: #e75646;
$filledBtnColor: white;
$emptyBackgroundColor: rgba(0, 0, 0, 0);
$outlinedBtnBorderColor: #f85d4b;
$outlinedBtnColor: #f85d4b;

.form-content {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .form-input {
    border: 1px solid $formInputBorderColor;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    &::placeholder {
      text-align: center;
    }
  }

  .btn--filled {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    border: 0;
    outline: none;
    background-color: $filledBtnBackgroundColor;
    color: $filledBtnColor;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    &:hover {
      background-color: $filledBtnBackgroundColorOnHover;
      transition: all 0.5s;
    }
  }

  .btn--outlined {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    outline: none;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    background-color: $emptyBackgroundColor;
    border: 1px solid $outlinedBtnBorderColor;
    color: $outlinedBtnColor;

    &:hover {
      background-color: $emptyBackgroundColor;
    }
  }

  img[name="imgPreview"] {
    display: none;
    height: auto;
    width: 100%;
    margin: 20px 0;
  }

  @include sm {
    width: 100%;
  }

  @include md {
    width: 50%;
  }

  @include lg {
    width: 30%;
  }
}
