@import "./form.scss";
@import "./gallery.scss";

$bodyBackgroundColor: #fdfcfa;
$headerBackgroundColor: #ffe0b2;
$linkColor: black;
$linkBtnBackgroundColorDefault: white;
$linkBtnBackgroundColorNone: rgba(0, 0, 0, 0);
$svgBtnColor: black;

body {
  margin: 0;
  padding: 0;
  background-color: $bodyBackgroundColor;
}

.header {
  background-color: $headerBackgroundColor;
  padding: 20px 0;

  &__content {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &__link {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: opacity 0.8s;
      margin: 0 10px;
      color: $linkColor;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14pt;
      font-family: Arial, Helvetica, sans-serif;

      svg {
        height: 40px;
        stroke: $svgBtnColor;
        padding: 5px;
        background-color: $linkBtnBackgroundColorDefault;
        margin-right: 18px;
      }

      .arrow-icon {
        background-color: $linkBtnBackgroundColorNone;
      }

      &:hover {
        opacity: 0.8;
        transition: opacity 0.8s;
      }
    }
  }
}
